<!-- Once you submit a Checkout form, you get back a token, which you save in order to actually create the charge. -->
<form action="" method="POST">
<script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_4gXzvafc5MkxqBTAje4wXLBs"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>

